/* Místo pro kaskádové styly */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    text-align: center;
}

header{
    height: 5em;
    background-color: #770077;
}
main{
    flex:4;
    background-color: #FFFAFA;
    color: #000000;
}
button{
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    height:100px;
    width:180px;
}